{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Husan.I{% endblock %}

{% block content %}

    <div class="main">
        <div class="single-post-wrap no-image">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="post-inner-wrap">
                            <h1 class="post-title">About me</h1>
                            <div class="post-content">
                                <p>Hi there! I am Husan Ibragimov, a 21 years old. I am Backend Engineer from Uzbekistan, currently living in here. I am studying 3 course of TSTU as Economy, focus on programming and data structures.</p>
                                <p>I share my programming and lifestyle on this blog and also write about my achievements and experiences. </p>
                                <p>My goal is to share my knowledge and experience with you. I hope you will find something useful here.</p>
                                <hr>
                                <h3 id="meet-people-like-you">Other blogs</h3>
                                <p>You may also join other my channels. I am also active in <a href="https://t.me/husandev/">Telegram</a>.</p>
                                {% if resume.file %}
                                    <hr>
                                    <h3 id="contact-me">Resume</h3>
                                    <p>You can download my resume from <a href="{{ resume.file.url }}" download>here</a>.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
