{% extends 'base.html' %}
{% load static i18n %}

{% block title %}404{% endblock %}

{% block content %}

        <div class="main">
            <div class="container">
                <div class="error-wrap text-center">
                    <span class="error-code">404</span>
                    <h1 class="error-message h2">Page not found</h1>
                    <p class="message-manual">Maybe the URL is incorrect, or the page no longer exist.</p>
                    <a href="{% url 'blog:home' %}" class="btn btn-primary">Return to home page</a>
                </div>
            </div>
        </div>

{% endblock %}
