<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Fount</title>
</head>
<body>

<div class="tokyo_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInLeft" data-exit="">

    <div class="tokyo_tm_topbar">
        <div class="topbar_inner">
            <div class="logo" data-type="image">
                <a href="#">
                    <img src="{% static 'img/logo/Frame.png' %}" alt=""/>
                    <h3>Ibragimov's Blog</h3>
                </a>
            </div>
            <div class="trigger">
                <div class="hamburger hamburger--slider">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tokyo_tm_mobile_menu">
        <div class="menu_list">
            <ul class="transition_link">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>


    <div class="leftpart">
        <div class="leftpart_inner">
            <div class="logo" data-type="">
                <a href="#">
                    {#                    <img src="{% static 'img/logo/Frame.png' %}" alt=""/>#}
                    <h3 style="font-size: 25px">IBRAGIMOV'S BLOG</h3>
                </a>
            </div>
            <div class="menu">
                <ul class="transition_link">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>&copy; 2023 Ibragimov's Blog
                </p>
            </div>
        </div>
    </div>


    <div class="rightpart">
        <div class="rightpart_in">

            <div id="home" class="tokyo_tm_section animated">
                <div class="container">
                    <div class="tokyo_tm_home">
                        <div class="home_content">
                            <div class="avatar" data-type="wave">
                                <div class="image" data-img-url="{% static '' %}img/slider/1.jpg"></div>
                            </div>
                            <div class="details">
                                <h3 class="name">HUSAN <span>IBRAGIMOV</span></h3>
                                <h5 style="color: #636d7f; font-weight: bold">Backend Engineer</h5>
                                <p class="job">Get big solutions to big problems.</p>
                                <div class="social">
                                    <ul>
                                        <li><a href="https://www.facebook.com/iibragimovxusan/"><i
                                                class="icon-facebook-squared"></i></a></li>
                                        <li><a href="https://twitter.com/ibragimovxusan_"><i
                                                class="icon-twitter-squared"></i></a></li>
                                        <li><a href="https://github.com/husanIbragimov"><i
                                                class="icon-github-squared"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/ibragimovxusan/"><i
                                                class="icon-linkedin-squared"></i></a></li>
                                        <li><a href="https://t.me/husandev/"><i
                                                class="icon-telegram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

</div>

</body>
</html>