{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5LPGT7T6');</script>
    <!-- End Google Tag Manager -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Ibragimov's blog site">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Nodirdev's Blog</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description"
          content="husan uz, xusan uz, husan ,xusan, husan dev, xusan dev, husandev, xusandev, ibragimovxusan, ibragimovhusan, husanibragimov, xusanibragimov, husanibragimov uz, xusanibragimov uz, husanibragimovuz, xusanibragimovuz, husan ibragimov, xusan ibragimov, ibragimov husan, ibragimov xusan, ibragimovdev, ibragimov dev, dasturchi, developer, builder, python">
    <meta name="keywords"
          content="husanibragimov uz, husandev uz, husan uz, xusan uz, husan ,xusan, husan dev, xusan dev, husandev, xusandev, ibragimovxusan, ibragimovhusan, husanibragimov, xusanibragimov, ibragimovxusan uz, ibragimovhusan uz, ibragimovhusan uz">
    <meta name="robots" content="index, follow">
    <meta name="author"
          content="husanibragimov uz, husandev uz, husan uz, xusan uz, husan ,xusan, husan dev, xusan dev, husandev, xusandev, ibragimovxusan, ibragimovhusan, husanibragimov, xusanibragimov, ibragimovxusan uz, ibragimovhusan uz, ibragimovhusan uz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="wFqViCET7BhASWONiLREWAr1PrstCO6PnT-NnX4sac0"/>
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/dark.css" />
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/style.css" />

</head>
<body class="dark">

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LPGT7T6"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="preloader">
    <div class="loader_line"></div>
</div>

<div class="tokyo_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInLeft" data-exit="">

    <div class="tokyo_tm_topbar">
        <div class="topbar_inner">
            <div class="logo" data-type="">
                <a href="#">
                    {#                    <img src="{% static 'img/logo/Frame.png' %}" alt=""/>#}
                    <h3 style="font-size: 15px">NODIRDEV'S BLOG</h3>
                </a>
            </div>
            <div class="trigger">
                <div class="hamburger hamburger--slider">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tokyo_tm_mobile_menu">
        <div class="menu_list">
            <ul class="transition_link">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                {#                <li><a href="#service">Service</a></li>#}
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>


    <div class="leftpart">
        <div class="leftpart_inner">
            <div class="logo" data-type="">
                <a href="#">
                    {#                    <img src="{% static 'img/logo/Frame.png' %}" alt=""/>#}
                    <h3 style="font-size: 25px">NODIRDEV'S BLOG</h3>
                </a>
            </div>
            <div class="menu">
                <ul class="transition_link">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>&copy; 2025 NODIRDEV'S Blog
                </p>
            </div>
        </div>
    </div>


    <div class="rightpart">
        <div class="rightpart_in">

            <div id="home" class="tokyo_tm_section animated">
                <div class="container">
                    <div class="tokyo_tm_home">
                        <div class="home_content">
                            <div class="avatar" data-type="wave">
                                <div class="image" data-img-url="{{ main_image.image.url }}"></div>
                            </div>
                            <div class="details">
                                <h3 class="name">NODIR <span>ISKANDAROV</span></h3>
                                <h5 style="color: #636d7f; font-weight: bold">{{ about.title }}</h5>
                                <p class="job">Get big solutions to big problems.</p>
                                <div class="social">
                                    <ul>
                                        <li><a href="https://www.facebook.com/husanibragimov.uz"><i
                                                style="font-size: 24px;" class="icon-facebook-squared"></i></a></li>
                                        <li><a href="https://github.com/husanIbragimov"><i
                                                style="font-size: 24px;" class="icon-github-squared"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/husanibragimov/"><i
                                                style="font-size: 24px;" class="icon-linkedin-squared"></i></a></li>
                                        <li><a href="https://t.me/husandev/"><i
                                                class="icon-telegram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="about" class="tokyo_tm_section">
                <div class="container">
                    <div class="tokyo_tm_about">
                        <div class="tokyo_tm_title">
                            <div class="title_flex">
                                <div class="left">
                                    <span>About</span>
                                    <h3>About Me</h3>
                                </div>
                            </div>
                        </div>
                        {% if about.my_images.first.image %}
                        <div class="top_author_image">
                            <img src="{{ about.my_images.first.image.url }}" alt="nodirdev uz" height="900" width="400"/>
                        </div>
                        {% endif %}

                        <div class="about_text">
                            <p>{{ about_img.my_images.first.description|safe }}</p>
                        </div>
                        <div class="tokyo_tm_short_info">
                            <div class="left">
                                <div class="tokyo_tm_info">
                                    <ul>
                                        <li><span>Birthday:</span><span>{{ about.birthday }}</span></li>
                                        <li><span>Age:</span><span>{{ about.age }}</span></li>
                                        <li><span>Address:</span><span>{{ about.address }}</span></li>
                                        <li><span>Email:</span><span>{{ about.email }}</span></li>
                                        <li><span>Phone:</span><span><a href="tel:{{ about.phone_number }}">{{ about.phone_number }}</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="right">
                                <div class="tokyo_tm_info">
                                    <ul>
                                        <li><span>Nationality:</span><span>Uzbek</span></li>
                                        <li><span>Study:</span><span>{{ about.educations.last.education }}</span></li>
                                        <li><span>Degree:</span><span>{{ about.educations.last.degree }}</span></li>
                                        <li><span>Interest:</span><span>{{ about.interest }}</span></li>
                                        <li><span>Freelance:</span><span>Available</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tokyo_tm_button" data-position="left">
                            <a href="{{ resume.resume.url }}" download>
                                <span>Download CV</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tokyo_tm_resumebox">
                    <div class="container">
                        <div class="in">
                            <div class="left">
                                <div class="tokyo_section_title">
                                    <h3>Education</h3>
                                </div>
                                <div class="tokyo_tm_resume_list">
                                    <ul>
                                        {% for education in educations %}

                                            <li>
                                                <div class="list_inner">
                                                    <div class="time">
                                                        <span>{{ education.period }}</span>
                                                    </div>
                                                    <div class="place">
                                                        <h3>{{ education.education }}</h3>
                                                        <span>{{ education.degree }}</span>
                                                    </div>
                                                </div>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="right">
                                <div class="tokyo_section_title">
                                    <h3>Experience</h3>
                                </div>
                                <div class="tokyo_tm_resume_list">
                                    <ul>

                                        {% for experience in experiences %}

                                            <li>
                                                <div class="list_inner">
                                                    <div class="time">
                                                        <span>{{ experience.period }}</span>
                                                    </div>
                                                    <div class="place">
                                                        <h3>{{ experience.experience }}</h3>
                                                        <span>{{ experience.position }}</span>
                                                    </div>
                                                </div>
                                            </li>


                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#                <div class="tokyo_tm_testimonials">#}
                {#                    <div class="container">#}
                {#                        <div class="tokyo_section_title">#}
                {#                            <h3>Testimonials</h3>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>


            <div class="tokyo_tm_portfolio_titles"></div>

            <div id="portfolio" class="tokyo_tm_section">
                <div class="container">
                    <div class="tokyo_tm_portfolio">
                        <div class="tokyo_tm_title">
                            <div class="title_flex">
                                <div class="left">
                                    <span>Portfolio</span>
                                    <h3>Creative Portfolio</h3>
                                </div>
                                <div class="portfolio_filter">
                                    <ul>
                                        <li><a href="#" class="current" data-filter="*">All</a></li>
                                        {% for category in categories %}

                                            <li><a href="#"
                                                   data-filter=".{{ category.name|lower }}">{{ category.name }}</a></li>

                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="list_wrapper">
                            <ul class="portfolio_list gallery_zoom">

                                {% for portfolio in portfolios %}
                                    <li class="{{ portfolio.category.name|lower }}">
                                        <div class="inner">
                                            <div class="entry tokyo_tm_portfolio_animation_wrap"
                                                 data-title="{{ portfolio.name }}"
                                                 data-category="{{ portfolio.category.name }}">
                                                <a href="{{ portfolio.link }}">
                                                    <img src="{% if portfolio.image %}{{ portfolio.image.url }}{% endif %}" alt=""/>
                                                    <div class="abs_image"
                                                         data-img-url="{% if portfolio.image %}{{ portfolio.image.url }}{% endif %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div id="news" class="tokyo_tm_section">
                <div class="container">
                    <div class="tokyo_tm_news">
                        <div class="tokyo_tm_title">
                            <div class="title_flex">
                                <div class="left">
                                    <span>News</span>
                                    <h3>Latest News</h3>
                                </div>
                            </div>
                        </div>
                        <ul>
                            {% for blog in blogs %}

                                <li>
                                    <div class="list_inner">
                                        <div class="image">
                                            <img src="" alt=""/>
                                            <div class="main" data-img-url=""></div>
                                            <a class="tokyo_tm_full_link" href="#"></a>
                                        </div>
                                        <div class="details">
                                            <div class="extra">
                                                <div class="short">
                                                    <p class="date"><a href="#">{{ blog.title }}</a>
                                                        <span>{{ blog.created_at }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <h3 class="title"><a href="#">{{ blog.title }}</a></h3>
                                            <div class="tokyo_tm_read_more">
                                                <a href="#"><span>Read More</span></a>
                                            </div>
                                        </div>

                                        <div class="main_content">
                                            <div class="descriptions">
                                                <p class="bigger">{{ blog.blogimages_set.first.description|safe }}</p>
                                                <p>Yangiliklar <a href="https://t.me/husandev">@husandev</a> telegram
                                                    kanalida yoritilib boriladi.</p>
                                            </div>
                                        </div>

                                    </div>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            <div id="contact" class="tokyo_tm_section">
                <div class="container">
                    <div class="tokyo_tm_contact">
                        <div class="tokyo_tm_title">
                            <div class="title_flex">
                                <div class="left">
                                    <span>Contact</span>
                                    <h3>Get in Touch</h3>
                                </div>
                            </div>
                        </div>
                        <div class="fields">
                            <form method="post" class="contact_form" id="contact_form" autocomplete="off">
                                {% csrf_token %}
                                <div class="returnmessage"
                                     data-success="Your message has been received, We will contact you soon."></div>
                                <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                                <div class="first">
                                    <ul>
                                        <li>
                                            <input id="name" type="text" name="name" placeholder="Name">
                                        </li>
                                        <li>
                                            <input id="email" type="text" name="email" placeholder="Email">
                                        </li>
                                        <li>
                                            <input id="phone" type="tel" name="phone" placeholder="Phone number">
                                        </li>
                                    </ul>
                                </div>
                                <div class="last">
                                    <textarea id="message" name="message" placeholder="Message"></textarea>
                                </div>
                                <div class="tokyo_tm_button" data-position="left">
                                    <button type="submit" class="btn sent_message">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

</div>

<script src="{% static 'js/jquery.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/ie8.js' %}"></script>#}
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

<!-- Google Analytics -->
<script>
    window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

</body>

</html>